**/node_modules
**/dist
**/*.tsbuildinfo

.git
.github
.gitignore

tests
playwright.config.ts
test-results
playwright-report
.playwright-mcp

*.md
opencode.json
Dockerfile
.dockerignore

.DS_Store
**/.DS_Store
**/*.log
